.features{
    display: flex;
    justify-content: space-between;
}
.feature{
    width: 225px;
    background-color: lightgray;
    border-radius: 8px;

}
.feature-incon{
    margin: 0 45px;
}
.feature-incon img{
    width: 80%;
}
.feature-info{
    margin: 0 45px;
}
.feature-title{
    font-size: 18px;
}
.feature-details{
    font-size: 12px;
}
.feature-btn{
    margin-left: 0;
    margin-bottom: 10px;
}





